<div class="container">
  <h1>Contacts</h1>
  <div class="contact-box">
    <div class="contact-info">
      <p>LOCAL DETAILS</p>
      <p>
        26, Slivnitsa Blvd, 7th floor, 9002 Varna, BULGARIA<br />
        Telephone: +359 52 683840, 683845, 683850, 683870-2, 683890-5<br />
        Fax: +359 52 612066, 612048<br />
        Email: eisa@eisa-varna.com<br />
      </p>
      <p>
        3, Industrialna Street, 10th Floor, 8000 Bourgas, BULGARIA <br />
        Telephone: +359 56 844637 / +359 56 84 11 77<br />
        Fax: +359 56 844567<br />
        Email: tramp@eisa-bourgas.com / liner@eisa-bourgas.com <br />
      </p>
      <p>
        3, Industrialna Street, 10th Floor, 8000 Bourgas, BULGARIA <br />
        Telephone: +359 56 844637 / +359 56 84 11 77<br />
        Fax: +359 56 844567<br />
        Email: tramp@eisa-bourgas.com / liner@eisa-bourgas.com <br />
      </p>
    </div>
    <div class="map-position">
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe
            width="700"
            height="500"
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=varna%20slivnitsa%2024&t=&z=17&ie=UTF8&iwloc=&output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
