.contact-box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 60px;
}

.contact-info {
  text-align: left;
  color: white;
  padding: 0px;
}

.contact-info p:first-child {
  margin-top: 0;
  font-size: 1.4em;
}

.contact-info p {
  margin-bottom: 40px;
  font-size: 1.1em;
}

.mapouter {
  height: 500px;
  width: 700px;
}

.gmap_canvas {
  background: none !important;
  height: 500px;
  width: 700px;
}
