<footer>
  <div class="wave wave1 container">
    <ul class="footer-menu">
      <li><a href="#">home</a></li>
      <li><a href="#">about</a></li>
      <li>
        <a href="#" class="copyright"
          >&copy; Copyright {{ currentDate | date: "yyyy-MM-dd" }}. All rights
          reserved DobrevInc.</a
        >
      </li>
    </ul>
    <ul class="footer-menu">
      <li><a href="#">faq</a></li>
      <li><a href="#">pricing</a></li>
      <li><a href="#">contacts</a></li>
    </ul>
    <ul class="footer-menu">
      <li>
        <a href="https://www.linkedin.com/in/deyan-dobrev-077932142/"
          ><i class="fab fa-linkedin"></i>linkedin</a
        >
      </li>
      <li>
        <a href="https://www.facebook.com/deyan.dobrev"
          ><i class="fab fa-facebook-square"></i>facebook</a
        >
      </li>
      <li>
        <a href="https://www.instagram.com/deqn.dobrev.7/"
          ><i class="fab fa-instagram"></i>instagram</a
        >
      </li>
    </ul>
  </div>
  <div class="wave wave2"></div>
  <div class="wave wave3"></div>
  <div class="wave wave4"></div>
</footer>
