<nav>
  <div class="navigation-wrapper">
    <div class="container">
      <ul>
        <li class="logo"><a href="index.html">DobrevInc.</a></li>
        <li><a routerLink="/home">home</a></li>
        <li><a routerLink="/about">about</a></li>
        <li><a routerLink="/contacts">contacts</a></li>
        <li><a routerLink="/pricing">pricing</a></li>
        <li class="logged" *ngIf="!isLogged">
          <a routerLink="/login" (click)="loginHandler()">Login</a>
        </li>
        <li class="logged" *ngIf="!isLogged">
          <a routerLink="/register">register</a>
        </li>

        <!-- routing to be done below -->
        <li class="loggedOut" *ngIf="isLogged">
          <a routerLink="/profile">Deyan's Profile</a>
        </li>
        <li class="loggedOut" *ngIf="isLogged">
          <a routerLink="/logout" (click)="logOutHandler()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
