header {
  height: 110px;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-wrapper {
  padding-left: 30px;
}
.logo {
  width: 150px;
  height: 80px;
  padding-top: 10px;
  color: white;
}

ul li {
  text-transform: uppercase;
}
ul li:hover {
  background: #aa1f29;
  border-radius: 8px;
}

ul li a {
  padding: 0 30px;
  line-height: 44px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 14px;
  display: block;
}

nav ul {
  display: flex;
  color: white;
  justify-content: flex-end;
}

/* 
.digital-clock {
  width: 230px;
  height: 35px;
  display: flex;
  border: 3px solid #fff;
  align-items: center;
  margin-top: -7px;
}
.day-title {
  padding-left: 15px;
  padding-right: 10px;
  font-size: 18px;
}
.digital-time {
  display: flex;
}
.ampm {
  font-size: 18px;
}

ul li:last-child {
  color: lightgoldenrodyellow;
} */
