/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Slab&display=swap");
@import "assets/css/reset.css";
@import "assets/css/responsive.css";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html {
  background: #e63945;
  /* background: rgba(139, 107, 44, 0.755); */
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
body {
  min-height: 100vh;
  color: #fff;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 1360px;
  padding: 0 20px;
}

.content {
  flex: 1 0 auto;
}
