/* You can add global styles to this file, and also import other style files */
@import "assets/css/reset.css";
@import "assets/css/typography.css";
@import "assets/css/layout.css";
@import "assets/css/responsive.css";



 html{
  background: url("./assets/img/terminal.png") no-repeat center center fixed;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.container {
  padding: 0 13%;
}

body {
  font-size: 1em;
  font-family: 'Big Shoulders Text', cursive;
  color: black;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  font-weight: bold;
}
h1 {
  margin-top: 4.5em;
  font-size: 2.5em;
  text-transform: uppercase;
}
h2 {
  margin-top: 1em;
  margin-bottom: 3em;
  font-size: 1.75em;
}
h1, h2 {
  color: white;
  text-align: left;
  font-family: 'Big Shoulders Text', cursive;
  letter-spacing: -0.5px;
}


