<main>
  <div class="container">
    <h1>Port Varna PDA Calculator<br>Proforma disbursement account</h1>
    <h2>Voyage estimates at your fingertips. Easy to use, 24/7 online tool <br>which
      provides port costs and restrictions for major facilities in Varna port.</h2>
    <div id="choose-port">
      <a href="">
        <span>choose a port</span>
        <div class="wave5"></div>
      </a>
    </div>
<!--    <div id="ports-menu">-->
<!--      <ul>-->
<!--        <li class="active"><a href="#">Varna East</a></li>-->
<!--        <li><a href="#">Varna West</a></li>-->
<!--        <li><a href="#">MAE JSC Varna</a></li>-->
<!--        &lt;!&ndash; <li><a href="#">TEC Varna</a></li> FOR FUTURE IMPLEMENTATION  &ndash;&gt;-->
<!--        <li><a href="#">Lesport</a></li>-->
<!--        <li><a href="#">Ship Repair Yards</a></li>-->
<!--        <li id="slide"></li>-->
<!--      </ul>-->
<!--    </div>-->
  </div>
</main>
