<div class="container">
  <h1 class="h2">User Profile</h1>
  <h2>
    Hello user:
    <strong>{{ this.authService.userData?.email }}</strong
    ><br />
    User ID: <strong>{{ authService.userData?.uid }}</strong
    ><br />
    Email: <strong>{{ this.authService.userData?.email }}</strong
    ><br />
    Email verified:
    <strong>{{ this.authService.userData?.emailVerified }}</strong>
  </h2>
  <button (click)="getProforma()" type="button" class="button-style">
    Generate History
  </button>
  <section id="displayStoredProformas"></section>
</div>
