<div class="container">
  <h1 class="h2">User Profile</h1>
  <h2>
    Hello user:
    <strong>{{ this.authService.userData?.email }}</strong
    ><br />
    User ID: <strong>{{ authService.userData?.uid }}</strong
    ><br />
    Email: <strong>{{ this.authService.userData?.email }}</strong
    ><br />
    Email verified:
    <strong>{{ this.authService.userData?.emailVerified }}</strong>
  </h2>

  <p class="para">
    Click on below button to view your past generated proformas
  </p>

  <section></section>

  <button (click)="getProforma()" type="button" class="button-style">
    <a>
      <span>Generate History</span>
      <div class="wave5"></div>
    </a>
  </button>
  <section id="displayStoredProformas"></section>
</div>
