<div class="container">
  <div class="login-wrapper">
    <div class="container-2">
      <div class="blueBg">
        <div class="box signin">
          <h3>Already have an Account ?</h3>
          <button class="signinBtn">Sign in</button>
        </div>
        <div class="box signup">
          <h3>Don't have an Account ?</h3>
          <button class="signupBtn">Sign up</button>
        </div>
      </div>
      <div class="formBx">
        <div class="form signinForm">
          <form>
            <h3>Sign In</h3>
            <input type="text" placeholder="Username" #userName required />
            <input
              type="password"
              placeholder="Password"
              #userPassword
              required
            />
            <input
              type="button"
              class="btn btnPrimary"
              value="Log in"
              (click)="authService.SignIn(userName.value, userPassword.value)"
            />
            <button
              type="button"
              class="btn googleBtn"
              (click)="authService.GoogleAuth()"
            >
              <i class="fab fa-google-plus-g"></i>
              Continue with Google
            </button>
          </form>
        </div>

        <div class="form signupForm">
          <form>
            <h3>Sign Up</h3>
            <input
              type="email"
              class="formControl"
              placeholder="Email Address"
              #userEmail
              required
            />
            <input
              type="userName"
              class="formControl"
              placeholder="User Name"
              #userName
              required
            />
            <input
              type="password"
              class="formControl"
              placeholder="Password"
              #userPwd
              required
            />
            <input type="password" placeholder="Confirm Password" required />
            <input
              type="button"
              class="btn btnPrimary"
              value="Sign Up"
              (click)="authService.SignUp(userEmail.value, userPwd.value)"
              routerLink="/home"
            />
            <button
              type="button"
              class="btn googleBtn"
              (click)="authService.GoogleAuth()"
            >
              <i class="fab fa-google-plus-g"></i>
              Continue with Google
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
