<div class="about-us-box">
  <p class="we-are">We are Weyland Yutani.</p>
  <p class="we-description">
    The next-generation LSP for the Digital Age! <br /><br />
    As visionaries and challengers of the logistics status quo we breed
    differentiation in everything we do. <br />
    Despite our three decades of history we still possess startup thinking,
    which propels us ahead of the competition.
  </p>
</div>
<div class="about-us-ship"></div>
<div class="container">
  <div class="about-us-our-profile">
    <div class="about-us-box-little">
      <span>Our Marketplace</span>
      <p>
        We live in a world where consumer demand changes faster than Usain Bolt
        runs 100 meters and technology titans and startups massively disrupt the
        logistics industry, which substantially lags behind consumer
        expectations for fast and timely services.
      </p>
    </div>
    <div class="about-us-box-little">
      <span>Our Approach</span>
      <p>
        In today’s complex and volatile economic environment companies face a
        lot of challenges in supply chain management. Therefore, sensing and
        analysing holistically your logistics needs, we can help you cut costs
        and become more efficient.
      </p>
    </div>
    <div class="about-us-box-little">
      <span>Our Values</span>
      <p>
        We live and breathe our values, which are an important part of the
        cement that holds together the foundation of our business. Our shared
        vision is strongly supported by our value pillars, which create and
        sustain the success of our teams.
      </p>
    </div>
  </div>
</div>
