h1 {
  text-align: left;
  font-family: "Big Shoulders Text", cursive;
  letter-spacing: -0.5px;
}

.about-us-our-profile {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.8'%3E%3Cpolygon fill='%23172124' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23253d43' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23335c64' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23427b88' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23509dad' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.4;
  border-radius: 15px;
  border: 2px solid black;
}

.about-us-box-little span {
  display: inline-block;
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.4em;
}

.about-us-box-little {
  padding: 1%;
}
