/*=================== FAQ PAGE ===================== */
.card {
  margin: 0 auto;
  margin-top: 60px;
  width: 70%;
  box-shadow: 0 1px 3px rgb(0, 0, 0, 0.12), 0 1px 2px rgb(0, 0, 0, 0.24);
  font-size: 20px;
  /* color: #192038; */
  border-radius: 3px;
}
