<div class="container">
  <h1>Frequently Asked Questions</h1>
  <div class="card">
    <div>
      <ng-content select="app-faq-item"></ng-content>
      <app-faq-item title="Title1"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis a
        quaerat itaque quisquam voluptates sit debitis. Eaque fugiat maiores
        labore dolorum unde odio incidunt iusto qui quibusdam, recusandae
        tenetur ipsam?</app-faq-item
      >
      <app-faq-item title="Title2"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis a
        quaerat itaque quisquam voluptates sit debitis. Eaque fugiat maiores
        labore dolorum unde odio incidunt iusto qui quibusdam, recusandae
        tenetur ipsam?</app-faq-item
      >
      <app-faq-item title="Title3"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis a
        quaerat itaque quisquam voluptates sit debitis. Eaque fugiat maiores
        labore dolorum unde odio incidunt iusto qui quibusdam, recusandae
        tenetur ipsam?</app-faq-item
      >
    </div>
  </div>
</div>
