<div class="container">
  <section class="carousel-wrapper">
    <h1>Port Varna PDA Calculator</h1>
    <h2>
      Voyage estimates at your fingertips. Easy to use, 24/7 online tool,
      <br />which provides port costs and restrictions for major facilities in
      Varna port.
    </h2>

    <div class="carousel-wr">
      <div *ngIf="images && images.length > 0" class="carousel-container">
        <img
          *ngFor="let image of images; let i = index"
          [src]="image.imageSrc"
          [alt]="image.imageAlt"
          [ngClass]="{ 'image-active': selectedIndex === i }"
          class="fade"
        />
        <div *ngIf="indicators" class="carousel-dot-container">
          <span
            *ngFor="let dot of images; let i = index"
            class="dot"
            [ngClass]="{ active: selectedIndex === i }"
            (click)="selectImage(i)"
          >
          </span>
        </div>
        <button
          *ngIf="controls"
          class="btn-carousel btn-prev"
          (click)="onPrevClick()"
        >
          <i class="fas fa-arrow-circle-left icon-carousel icon-prev"> </i>
        </button>
        <button
          *ngIf="controls"
          class="btn-carousel btn-next"
          (click)="onNextClick()"
        >
          <i class="fas fa-arrow-circle-right icon-carousel icon-next"> </i>
        </button>
      </div>
    </div>
  </section>
</div>

<!-- <main>
  <div class="information">
    <section class="wrapper">
      <ul>
        <li>
          <p>
            DMS Coordinates: 43°11'00.0"N 27°55'00.0"E<br />
            No taxes on cargo/freight<br />
            Port works 24/7 shinc. However during official holidays all services
            are rendered under 100% increase, <br />
            after a preliminary request to port for performing operations under
            overtime.<br /><br />
            Vessel is required to make a call and identification with Varna
            Traffic Control on VHF ch 16. / Communication with the Pilot Station
            is available on VHF ch 14.<br /><br />
            Pilotage and Towage are compulsory as per Maritime Administration
            and Harbour Master`s orders.<br />
            Pilots embark/debark at a whistle buoy located near 43°11'N 28°00'E,
            approximately 3.5 nm east of Varna East.<br />
            Number of tugboats and their bollard pull shall be selected as per
            the Pilot Station Table, according to ship size and
            specialization.<br />
            Vessels navigating under ballast can have a trim within 2% of
            vessel’s LOA. Laden ships can be trimmed within 1% of LOA, and the
            list shall be kept within 1°.<br /><br />
            Water density is variable: Varna East - approx. 1.017 ‰; Varna West
            - approx. 1.004‰. Water salinity - 1011 brackish water. Max
            freeboard on arrival is 17 m.<br /><br />
            There are no tidal variations in the waters of Varna port facilities
            as well as it is an ice free Port. Tides can occur in case of
            continuous strong winds throughout<br />
            several days. Local forecasts are available in English on VHF radio.
            Ship crews should maintain a watch on Channel 16 and then switch to
            Channels 24, 25, 26<br />
            or whatever other channel is suggested by Channel 16 to access the
            forecast information.<br /><br />
            Visibility at the Port of Varna is occasionally restricted due to
            fog. When occurring, fog is usually worst in the morning hours,
            improving by 10 am local time.<br />
            Since navigation is prohibited in the Port of Varna if visibility
            reduces to less than 547 yd (500 m), the port is occasionally closed
            until the fog dissipates.<br /><br />
            Please note that all ships that are visiting Bulgarian ports can not
            use marine gas oil with a sulphur content exceeding 0,1 %.<br />
            The crew has to complete all necessary fuel - changeover operations
            as soon as possible after arrival, at anchor and as late as possible
            before departure. <br />Operations to be recorded in ships'
            logbooks. Port authorities observe very strictly above rules and
            penalty is applied. Also all overboard valves <br />
            of the sewage/bilge/sludge tanks should be sealed before vessel to
            enter the 12 miles zone and the numbers of the seals to be shown in
            the log book.<br />
            Per latest MARPOL regulation in force from 30.07.2018, all vesses in
            ballast condition should exchange ballast water prior to calling
            Bulgarian ports.<br />
            Same should be effected at 50 miles distance and 200 m depth.
            Providing vessel is equipped with Ballast water treatment system,
            above rule not to apply.<br />
          </p>
        </li>
        <br />
        <li>Useful Links:</li>
        <br />
        <li>
          <a href="http://www.bgports.bg/en" target="_blank"
            >Bulgarian Ports Infrastructure Company (BPI Co.)</a
          >
        </li>
        <li>
          <a href="http://www.marad.bg/" target="_blank"
            >Executive Agency Maritime Administration</a
          >
        </li>
        <li>
          <a href="http://www.portfleet99.com/" target="_blank"
            >Varna Towage Services</a
          >
        </li>
        <li>
          <a href="http://www.varnapilots.com/aboutus_en.html" target="_blank"
            >Varna Pilot Station</a
          >
        </li>
        <li>
          <a href="http://port-varna.bg/en/Nachalo/Home" target="_blank"
            >Port Varna</a
          >
        </li>
      </ul>
    </section>
  </div>
</main> -->
